@mixin sm{
    @media(max-width:738px) {
            @content;
    }
}
@mixin md{
    @media(max-width:1024px) {
            @content;
    }
}
@mixin lg{
    @media(max-width:1366px) {
            @content;
    }
}
@mixin hide-scrollbar {
    /* Hide scrollbar for WebKit browsers */
    &::-webkit-scrollbar {
      display: none;
    }
  
    /* Hide scrollbar for Firefox */
    scrollbar-width: none;
  
    /* Hide scrollbar for Internet Explorer and Edge */
    -ms-overflow-style: none;
  }