.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .login {
        // width: ;
        padding: 30px;
        border: 1px solid #020e2369;
        border-radius: 6px;

        .loginForm {
            display: flex;
            flex-direction: column;

            input {
                outline: none;
                border: none;
                border-bottom: 1px solid #020e2369;
                margin: 10px;
                padding: 8px;
                font-size: 16px;
                color: #1d335a;
            }

            .btn {
                margin: 10px;
                padding: 10px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                font-weight: bolder;
                background: #dce8fd;
                border-radius: 6px;
                color: #085beab5;

            }
        }

    }
}